{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load pagination_tags %}
{% load i18n %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="header-breadcrumbs">
	<ul>
		<li><a href="{% url root %}">{% trans 'Home' %}</a></li>
		{% if fullname %}
			<li><a href="{% url showItemSummary name=name %}">{{ fullname }}</a></li>
		{% endif %}		
	</ul>
</div>
{% endblock %}
{% block maincontent %}
	<h1 class="pagetitle">{% trans "Summary" %}:</h1>
	<!--	Summary quick show	-->	
	{% if item %}
		<!--	For every class	-->
		{% for group in item %}
            {% if group %}
                <!--    List the items  -->
    			{% include "base_item_list.html" %}
            {% endif %}
		{% endfor %}		
	{% else %}
		<h1 class="block">{% trans "No items yet" %}.</h1>	
	{% endif %}	
{% endblock %}
