{% extends "base.html" %}
{% load i18n breadcrumbs display_object%}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}


{% block jscript %}
{% include "jqueryui_loader.html" %}
{% endblock %}


{% block maincontent %}
	<h1 class="pagetitle">{% trans "Channel deletion page" %}</h1>
	{% if object %}
		<h1 class="block">{% trans "Deleting channel: " %} {{ object.name }}</h1>	
		<div class="column1-unit">
			<h1>{% trans "Are you sure that do you want to delete this channel?" %}</h1>
			<div class="contactform">
				<form method="post" action="">
				<fieldset>
					<legend>{% trans "Channel details:" %}</legend>
					<p><label for="id_name" class="left">{% trans "Nombre: " %}</label>
					{{ object.name }}
					</p>
					<p><label for="id_description" class="left">{% trans "Description: " %}</label>
					{{ object.description }}
					</p>
					<p><label for="id_creationdate" class="left">{% trans "Creation date: " %}</label>
					{{ object.creationDate }}
					</p>
					<p><label for="id_active" class="left">{% trans "Activo: " %}</label>
					{{ object.active }}
					</p>
					<p><label for="id_customer" class="left">{% trans "Customer: " %}</label>
					
					{% for customer in object.customer.values %}
 
						{{ customer.username }}
						{% if not forloop.last %}
						,
						{{% endif %} 
					{% endfor %}
					</p>                                   
					<p><input name="submit" id="submit" class="button"
						value= {% trans "Delete" %} 
						tabindex="6" type="submit"/>
					</p>
				</fieldset>
				</form>
			</div>
		</div>
	{% else %}
		<h1 class="block"> {% trans "Channel not found" %} </h1>	
		<div class="column1-unit">
			<h1>{% trans "Selected channel didn't exists" %}</h1>
			<p>
			{% blocktrans %}
				Error: SingularMS didn't found the objects that you have
				requested, please contact with your system administrator.
			{% endblocktrans %}
			</p>
		</div>
	{% endif %}
{% endblock %}
