{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load i18n display_form%}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
{% endblock %}

{%block jscript %}
    {% include "jquery_loader.html" %}
	{% include "jquery_plugin_form.html"%}
{% endblock %}
{% block jquerycode %}
<script>
    $(document).ready(function(){
				$.ajaxSetup({async:false});
				$("#formNewSubscriberDiv").hide();
                var form_empty = false;
				$.getJSON("{% url ajaxNumOfSubscribers %}?channel="+$("#id_channel :selected").val(), onShowNumSubs);
				$('#results').html('&nbsp;').load('{% url ajaxSubscriber %}?channel='+$("#id_channel :selected").val());
				$('#id_channel').change(function(){
					$('#results').html('&nbsp;').load('{% url ajaxSubscriber %}?channel='+$(this).val());
                    $.getJSON("{% url ajaxNumOfSubscribers %}?channel="+$(this).val(), onShowNumSubs);
                    onUpdateLinks();
				});
				$(".newSubscriber").click(onSubscriberLink);
				$('#submit').live("click",onDeleteSubscriber);
				onUpdateLinks();
				$('.page').live('click',onPageClick);
                $('.prev').live('click',onPageShiftClick);
                $('.next').live('click',onPageShiftClick);

                function saveChannelID(){
                    $("#subscriber_channel").attr('value', $("#id_channel :selected").val());
                }

                function onShowNumSubs(json){
                    if (json.data==true){
                        $("#numberOfSubs").html("{% trans 'The number of subscriber for this channel is '%}"+json.num);
                    }else{
                        $("#numberOfSubs").html("");
                    }
                }
				
				function onUpdateLinks(){
                    $('.page').attr("href","#");
                    $('.prev').attr("href","#");
                    $('.next').attr("href","#");
                    $("#subscriber_channel").attr('value', $("#id_channel :selected").val());
                }
				
				function onSubscriberLink(){
					$("#formNewSubscriber").resetForm();
					$('#errors').html('');
					$("#formNewSubscriberDiv").toggle("slow");
                    $("#subscriber_channel").attr('value', $("#id_channel :selected").val());
                    if (form_empty != false){
                        $("#formNewSubscriber").html(form_empty);
                        form_empty = false;
                    }
                    onUpdateLinks();
				}
				
				function onDeleteSubscriber(){
					var list_delete = new Array();

					$("input[class='delete_box']:checked").each(function(){
						list_delete.push($(this).attr("id"));
						
					});
					$.getJSON('{%url ajaxDeleteSubscriber %}?checked='+list_delete+'&channel='+$("#id_channel :selected").val(), onReloadList);
				}
				
				function onReloadList(json){
					if(json.data == true){
						if (json.ajax == true){
							$('#formNewSubscriberDiv').hide("slow");
							$("#formNewSubscriber").resetForm();
                            if (form_empty != false){
                                $("#formNewSubscriber").html(form_empty);
                                form_empty = false;
                            }
						}
						$('#results').html('&nbsp;').load('{%url ajaxSubscriber%}?channel='+$("#id_channel :selected").val());
                        onUpdateLinks();
					}else{
						if (json.ajax == true){
                            if (form_empty == false){
                                form_empty = $("#formNewSubscriber").html();
                            }
                            //alert($('#formNewSubscriber').html());
							$('#formNewSubscriber').html(
                                json.errors+
                                "<p><input type=\"submit\" class=\"button\" value=\"{%trans 'Send' %}\" /></p>"
                            );
						}
					}
				}
				function onPageClick(){
                    $('#results').html('&nbsp;').load('{%url ajaxSubscriber %}?page='+$(this).html()+'&channel='+$("#id_channel :selected").val());
                    onUpdateLinks();
            
                }
				function onPageShiftClick(){
                    var page = parseInt($("span[class=current page]").html());
                    if($(this).attr('class')=='next'){
                        page = page+1
                    }else{
                        page = page-1
                    }
                    $('#results').html('&nbsp;').load('{%url ajaxSubscriber %}?page='+page+'&channel='+$("#id_channel :selected").val());
                    onUpdateLinks();
                }
				var options = {
                    "beforesubmit": saveChannelID, 
					"dataType" : "json",
					"target" : "#results",
					"success":   onReloadList
				};
				$("#formNewSubscriber").ajaxForm(options);
    });
</script>
{% endblock %}

{% block maincontent %}
    
    <h1 class="pagetitle">{% trans "Channel's Subscriber" %}</h1>
    {% if channels %}
            <h1 class="block">{% trans "Select account" %}</h1>
            <p>
                    {% display_form channels %}
            </p>
            {# FIXME!!!! QUE NO SE ACTUALIZA; HAY QUE ACTUALIZARLA!!!     <p id="numberOfSubs">     </p> #}
            <div class="column1-unit">
                <h1>{% trans "Available subscriber" %}</h1>
                 <div class="contactform" id="formNewSubscriberDiv">
							<div id ="errors">
							</div>
							<form enctype="multipart/form-data" method="POST" action="{% url ajaxNewSubscriber %}" id="formNewSubscriber">
								{% display_form subscriber %}
                                <input type="hidden" name="channel" id="subscriber_channel"/>
								<p><input type="submit" class="button" value="{%trans 'Send' %}" /></p>
							</form>
						</div>
						<a href="#" class="newSubscriber">{% trans "new Subscriber to this Channel"%}</a>
                <table>
          
                    <div id="results"><p>Dummy</p></div>
                </table>

            </div>
    {% else %}
    <h1 class="block">{% trans "Channel not found" %}</h1>
        <div class="column1-unit">
            <h1>{% trans "Channel not found" %}</h1>

            <p>
            {% blocktrans %}
                Error: SingularMS didn't found the objects that you have
                requested, please contact with your system administrator.
            {% endblocktrans %}

            </p>

        </div>
    {% endif %}

{% endblock %}
