{% extends "base.html" %}
{% load i18n %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
{% endblock %}

{% block maincontent %} 
    <script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.3.2.min.js"></script>

    <h1 class="block">{{ label }}</h1>
    <div class="column1-unit">
        <h1>{% trans "Please, choose options to" %}</h1>
        <div class="contactform">
            <form method="POST" action="." enctype="multipart/form-data">
                {% if msg %}
                    <p><h3 align="center">{{ msg }}</h3></p>
                {% endif %}
                <fieldset>
                    {{ form.as_p }}
                    <p><input type="submit" class="button" value="{{ label }}" /></p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %} 

