{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load i18n breadcrumbs display_form %}
{% block layout %}
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{MEDIA_URL }}/css/layout2_setup.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{MEDIA_URL }}/css/layout2_text.css" />
    <link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/timepicker_plug/css/style.css" />
    <link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/smoothness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{%block jscript %}
    {% include "jqueryui_loader.html" %}
    {% include "jquery_plugin_form.html"%}
    <script src="{{MEDIA_URL}}/jquery/ui/timepicker_plug/timepicker.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}/jquery/ui/i18n/ui.datepicker-es.js" type="text/javascript"></script>
{%endblock %}

{% block jquerycode %}
<script>
    $(document).ready(function(){
        $('#id_destructionDate').datetime({
                                    userLang    : 'es'
                                });
    });
    $(document).ready(function(){
        $.ajaxSetup({async:false});
        var form_empty = false;
		$("#formNewChannelDiv").hide();
        $(".newChannel").click(onChannelLink);

        $('#results').html('&nbsp;').load('{%url ajaxChannelList%}');
        var options = {
			"target" : "#results",
			"dataType" : "json",
			"success":   onReloadList
		};
		$("#formNewChannel").ajaxForm(options);

        onUpdateLinks();
		$('.page').live('click',onPageClick);
        $('.prev').live('click',onPageShiftClick);
        $('.next').live('click',onPageShiftClick);

        function onUpdateLinks(){
            $('.page').attr("href","#");
            $('.prev').attr("href","#");
            $('.next').attr("href","#");
        }

        function onReloadList(json){
            if(json.data == true){
                if (json.ajax == true){
                    $('#formNewChannelDiv').hide('slow');
					$("#formNewChannel").resetForm();
                    if (form_empty != false){
                        $("#formNewChannel").html(form_empty);
                        form_empty = false;
                    }
				}
				$('#results').html('&nbsp;').load('{%url ajaxChannelList%}');
                onUpdateLinks();
			}else{
            	if (json.ajax == true){
                    if (form_empty == false){
                        form_empty = $("#formNewChannel").html();
                    }
                    $('#formNewChannel').html(json.errors+
                        "<p><input type=\"submit\" class=\"button\" value=\"{%trans 'Send' %}\" /></p>"
                    );
                }
            }
		}

        function onPageClick(){
            $('#results').html('&nbsp;').load('{%url ajaxChannelList %}?page='+$(this).html());
            onUpdateLinks();
        }
		function onPageShiftClick(){
            var page = parseInt($("span[class=current page]").html());
            if($(this).attr('class')=='next'){
                page = page+1
            }else{
                page = page-1
            }
            $('#results').html('&nbsp;').load('{%url ajaxChannelList %}?page='+page);
            onUpdateLinks();
        }

        function onChannelLink(){
            $("#formNewChannel").resetForm();
			$('#errors').html('');
			$("#formNewChannelDiv").toggle('slow');
            if (form_empty != false){
                $("#formNewChannel").html(form_empty);
                form_empty = false;
            }
		}
    });
</script>
{% endblock %}

{% block maincontent %}
	<h1 class="pagetitle">{% trans "Channel list" %}</h1>
    <div class="contactform" id="formNewChannelDiv">
        <div id="errors">
		</div>
        <form enctype="multipart/form-data" method="POST" action="{%url ajaxNewChannel%}" id="formNewChannel">
			{% display_form channelform %}
            <p><input type="submit" class="button" value="{%trans 'Send' %}" /></p>
		</form>
	</div>
	<a href="#" class="newChannel">{% trans "new Channel"%}</a>
	
	<h1 class="block">{% trans "Select a channel" %}</h1>
	<div class="column1-unit">
        <h1>{% trans "Available channels" %}</h1>

		<table>
               <div id="results"><p>Dummy</p></div>
		</table>
	</div>
{% endblock %}
