{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load i18n calendar breadcrumbs%}
{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{MEDIA_URL }}/css/layout2_text.css" />
<link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/timepicker_plug/css/style.css" />
<link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/smoothness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block jscript %}
{% include "jqueryui_loader.html" %}
<script src="{{MEDIA_URL}}/jquery/ui/timepicker_plug/timepicker.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}/jquery/ui/i18n/ui.datepicker-es.js" type="text/javascript"></script>
{% endblock %}
{%block jquerycode %}
<script>

    $(document).ready(function(){
        $('#id_destructionDate').datetime({
									userLang	: 'es'
								});
    });

</script>
{% endblock %}

{% block maincontent %}
    {% ifequal use "create" %}
        <h1 class="pagetitle">{% trans "Create a new channel" %}</h1>
            <h1 class="block">{% trans "Creating a new channel: " %}</h1>
            <div class="column1-unit">
                <h1>{% trans "Please, fill next fields" %}</h1>
    {%else %}
        {% ifequal use "update" %}
            <h1 class="pagetitle">{% trans "Channel's detail" %}</h1>
            <h1 class="block">{% trans "Channel: " %} {{ object.name }}</h1>
            <div class="column1-unit">
                <h1>{% trans "You can modify next fields" %}</h1>
        {%endifequal %}
    {% endifequal %}
			<div class="contactform">
					{% include "mt/channel_form.html" %}
			</div>
		</div>
{% endblock %}
