{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load i18n calendar display_form %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/timepicker_plug/css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/smoothness/jquery-ui-1.7.2.custom.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/jquery.bulkupload.css" />

{% ifequal custom 'individual' %}
<style type="text/css">
    .tagger { float: left; }
	.tagAdd { margin: 0 0 0 6px; }
	ul.tagList {background:none;font-size:80%;list-style-type:none; padding:0; margin:0; clear:both; border-left:3px solid #ddd; padding-left:4px; float:left; margin:5px 10px;}
	ul.tagList li {background:none;cursor:pointer; float:left; clear:both; padding:0.1em 1.5em 0.1em 0.4em;margin:0 0 0.2em 2px;}
    ul.tagList li:hover {background:#238E23 url({{ MEDIA_URL }}/img/bullet_toggle_minus.png) right 2px no-repeat; -moz-border-radius:4px; }
</style>
{%else%}
{% ifequal custom 'easy' %}
<style type="text/css">
    .tagger { float: left; }
	.tagAdd { margin: 0 0 0 6px; }
	ul.tagList {background:none;font-size:80%;list-style-type:none; padding:0; margin:0; clear:both; border-left:3px solid #ddd; padding-left:4px; float:left; margin:5px 10px;}
	ul.tagList li {background:none;cursor:pointer; float:left; clear:both; padding:0.1em 1.5em 0.1em 0.4em;margin:0 0 0.2em 2px;}
    ul.tagList li:hover {background:#238E23 url({{ MEDIA_URL }}/img/bullet_toggle_minus.png) right 2px no-repeat; -moz-border-radius:4px; }
</style>
{%endifequal%}
{% endifequal %}

{% endblock %}

{% block jscript %}

{% include "jqueryui_loader.html" %}
<script src="{{ MEDIA_URL }}/jquery/ui/timepicker_plug/timepicker.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/jquery/ui/i18n/ui.datepicker-es.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/jquery/jquery.bulkupload.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/jquery/jquery.strings.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}/jquery/jquery.tagger.js" type="text/javascript"></script>

{% include "jquery_plugin_form.html"%}

{% endblock %}

{%block jquerycode %}
<script>
    $(document).ready(function(){
        $('#file').hide();
        $("#note").hide();
        var title = $("label[for=id_body]").html();
        onAccountChange();
        onSelectChange();
        
        var size = 0;
        var mms_size = {{mms_size}};
        var sms_size = {{sms_size}};
        var lista = [];
        countChar();

        $('#id_actiDate').datetime({userLang: 'es'});
        $("#id_deactiDate").datetime({userLang: 'es'});
        
        $("#id_account").change(onAccountChange);
        $("#id_typeMsg").change(onSelectChange);
        $("#link_hide").click(onInfoChange);

        {% if mms_multi %}
            jQuery("#id_file").bulkupload({types: {{mms_file_types|safe}},msg: "{%trans ' is not valid type of upload image'%}" });
            $(".BulkUploaderHidden").live('change',ajax_submit_form);
            $(".BulkUploaderRemove").live('click',ajax_submit_form);
        {% else %}
            $("#id_file").change(ajax_submit_form);
        {% endif %}
        {% ifequal custom 'easy'%}
            $("#id_mobile").addClass("tagger");
            $("#id_mobile").Tagger({msg:"{%trans 'The number {val} is already in mobile list' %}"});
            {% if mobiles %}
                onShowMobiles();
            {% endif %}
        {% endifequal %}

        function onSelectChange(){  
            var selected = $("#id_typeMsg :selected").text();  
            
            if (selected.toLowerCase() == 'mms') {
                countChar();
                $("#file").show();
                $("#note").show();
            } else {
                size = 0;
                countChar();
                $("#file").hide();
                $("#note").hide();
            }
        }
        $("#id_body").keyup(countChar);
        function countChar(){
            if ($("#id_typeMsg :selected").text().toLowerCase() != 'mms'){
                var text = $("#id_body").val();
                if (text.length > sms_size){
                    text = text.substring(0,sms_size);
                    $("#id_body").val(text);
                }
                $("label[for=id_body]").html(title+" ("+$("#id_body").val().length+"/"+sms_size+")");
            }else{
                var sizeText = $("#id_body").val().length;
                sizeText = (sizeText*2)/1024
                var totalSize = size+1;
                if (sizeText + totalSize > mms_size){
                    text = text.substring(0,mms_size - totalSize);
                    $("#id_body").val(text);
                }
                totalSize = totalSize + sizeText;
                $("label[for=id_body]").html(title+" ("+parseFloat(totalSize).toFixed(2) +"/"+parseFloat(mms_size).toFixed(2)+" Kb)*");
            }
        }

        function countBytes(json){
            if (json.result == true){
                size = json.size/1024;
                /*if (size > 1023){
                    $("#id_file").val('');
                    size = 0;
                }*/
                jQuery.each(json.list,function(list){
                    //$('.BulkUploaderRemove[val='+this+']:parent').remove();
                    var current =$('.BulkUploaderRemove[val='+this+']');
                    var parent = current.parent();
                    current.remove();
                    parent.remove();
                    if(jQuery('#BulkUploaderList').html() == "")
                        jQuery('#BulkUploaderList').hide();
                });
                
                countChar();
            }
        }
        {% ifequal custom 'easy'%}
            {% if mobiles %}
                function onShowMobiles(){
                    var lista = {{mobiles|safe}};
                    jQuery.each(lista,function(){
                        $("#id_mobile").addTag(this);
                    });
                    $("#id_mobile").val('');
                }
            {% endif %}
        {% endifequal%}

        function ajax_submit_form(){
            $('#sendForm').ajaxSubmit({'url':'{% url ajaxSizeFileUpload %}','dataType':'json','success':countBytes});
        }

        function onAccountChange(){
            var selected = $("#id_account :selected").val();
            if (selected != undefined){
                $("#id_typeMsg").load('{% url ajaxFilterSms %}?account='+selected,onSelectChange);
            } else {
                $("#id_typeMsg").load('{% url ajaxFilterSms %}',onSelectChange);
            }
        }
        
        function onInfoChange(){
            $('#form_hide').toggle("slow");
        }
    });
</script>
{% endblock %}  

{% block maincontent %} 
    <h1 class="block">{% trans 'Send form' %}</h1>
    <div class="column1-unit">
        <div class="contactform">
            <form enctype="multipart/form-data" method="POST" id="sendForm" action="./">
                <fieldset>
                    <legend>&nbsp;{%trans 'Message details:' %}&nbsp;</legend>
                    {% for field in form.visible_fields %}
                        {% ifequal forloop.counter 2 %}
                            <p align="center"><a href="#" id="link_hide">-- {% trans "Show/hide advanced info" %} --</a></p>
                            <div id="form_hide" style="display: none">
                        {% endifequal %}
                        {% ifequal forloop.counter 5 %}
                            </div>
                        {% endifequal %}
                        {% if field.errors %}<p>{{ field.errors }}<script type="text/javascript">$('#form_hide').removeAttr('style');</script></p>{% endif %}
                        <p>{% if field.field.required %}<label class="required">{% else %}<label>{% endif %}{{ field.label }}</label>
                           {{ field }}</p>
                    {% endfor %}
                    <div id="file">
                         {% display_form form_file %} 
                    </div>

                <p><input type="submit" name="normal_submit" id="normal_submit" class="button" value="{% trans 'Send Message' %}" /></p>

                <p id="note">
                * {% trans "This size count is showed only for informational purposes, the real size of the MMS can differ due to data conversions" %}
                </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %} 

