{% extends "base.html" %}

{% comment %}
#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################
{% endcomment %}

{% load i18n %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="header-breadcrumbs">
    <ul>
        <li>
            <a href="{% url root %}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{{ crumbs.1 }}">{{ crumbs.0 }}</a>
        </li>
    </ul>
</div>
{% endblock %}


{% block maincontent %}
    <h1 class="pagetitle">{% trans "Message List" %}</h1>
    {% if object_list %}
        <h1 class="block">{% trans "Available messages" %}</h1>
        <div class="column1-unit">
            {% if msg %}
                <p><h3>{{ msg }}</h3></p>
            {% endif %}
            {% if is_paginated %}
            <table>
                <tbody>
                    <tr>
                        <td align="center" width="33%">
                        {% if has_previous %}
                            <a href="/message/list/page{{ previous }}/">{%trans "Previous page" %}</a>
                        {% endif %}
                        </td>
                        <td align="center">{% blocktrans %}Page{{ page }} of {{ pages }}{% endblocktrans %}</td>
                        <td align="center" width="33%">
                        {% if has_next %}
                            <a href="/message/list/page{{ next }}/">{%trans "Next page" %}</a>
                        {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endif %}
            <table>
                <tbody>
                    <tr> 
                    <th class="top" scope="col">{% trans "Mobile" %}</th>
                    <th class="top" scope="col">{% trans "Body" %}</th>
                    <th class="top" scope="col">{% trans "Reception date" %}</th>
                    <th class="top" scope="col" width="15%">{% trans "Proccesed" %}</th>
                    </tr>
                    {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.mobile }}</th>
                            <td>{{ object.body|truncatewords:"20" }}</td>
                            <td>{{ object.receivedDate|date:"d-m-Y h:m" }}</td>
                            <td>{% if object.processed %}
                                    {% if object.processedDate %}
                                        {{ object.processedDate|date:"d-m-Y h:m" }}
                                    {% else %}
                                        {% trans "Yes" %}
                                    {% endif %}
                                {% else %}
                                    {% trans "Not match" %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <h1 class="block">{% trans "Messages not found" %}</h1> 
        <div class="column1-unit">
            <br><p>{% trans "There aren't incoming messages" %}</p>
        </div>
    {% endif %}
{% endblock %}
