{% load i18n  breadcrumbs%}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<!--  Version: Multiflex-3 Update-7 / Overview             -->
<!--  Date:    January 15, 2007                            -->
<!--  Author:  Wolfgang                                    -->
<!--  License: Fully open source without restrictions.     -->
<!--           Please keep footer credits with a link to   -->
<!--           Wolfgang (www.1-2-3-4.info). Thank you!     -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="Your publisher infos here ..." />
  <meta name="copyright" content="Your copyright infos here ..." />
  <meta name="author" content="Design: Wolfgang (www.1-2-3-4.info) / Modified: Your Name" />
  <meta name="distribution" content="global" />
  <meta name="description" content="Your page description here ..." />
  <meta name="keywords" content="Your keywords, keywords, keywords, here ..." />
    {% block layout %}
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout4_setup.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout4_text.css" />
    {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{MEDIA_URL}}/img/icono.ico" />  
    {% block jscript %}	
    {% endblock %}
	
    {% block jquerycode %}
    {% endblock %}
  <title>{% block maintitle %}SingularMS{% endblock %}</title>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
  <!-- Main Page Container -->
  <div class="page-container">

   <!-- For alternative headers START PASTE here -->
    <!-- A. HEADER -->      
    <div class="header">
      
      <!-- A.1 HEADER TOP -->
      <div class="header-top">
        
        <!-- Sitelogo and sitename -->
        <a class="sitelogo" href="/" title={%trans "Go to Start page"%}></a>
        <div class="sitename">
        {% block sitename %}
          <h1><a href="{% url root %}" title={%trans  "Go to Start page"%}>SingularMS</a></h1>
          <h2>Notificación Móvil</h2>
        {% endblock %}
        </div>

        <!-- Navigation Level 0 -->
        {% comment %}
        <div class="nav0">
        {% block translate %}
          <ul>
            <li><a href="#" title={%trans "Homepage in Italy"%}><img src="{{MEDIA_URL}}/img/flag_italy.gif" alt={%trans "Image description"%} /></a></li>
            <li><a href="#" title={%trans "Homepage in German"%}><img src="{{MEDIA_URL}}/img/flag_germany.gif" alt={%trans "Image description"%} /></a></li>
            <li><a href="#" title={%trans "Homepage in Sweden"%}><img src="{{MEDIA_URL}}/img/flag_sweden.gif" alt={%trans "Image description"%} /></a></li>
          </ul>
        {% endblock %}
        </div>          
        {% endcomment %}

        <!-- Navigation Level 1 -->
        <div class="nav1">
        {% block logoutmenu %}
          <ul>
            {% comment %}
            <li><a href="{%url root %}" title={%trans "Help"%}><u>{% trans 'Help' %}</u></a></li>                                                                     
            {% endcomment %}
            <li><a href="{% url logout %}" ><u>{% trans 'Logout' %}: {{ request.user }}</u></a></li>
			                                                                       
          </ul>
        {% endblock %}
        </div>              
      </div>


      <!-- A.2 HEADER BOTTOM -->
      <div class="header-bottom">
      
        <!-- Navigation Level 2 (Drop-down menus) -->
        <div class="nav2">
            {% block headernavigation %}
                {% include "headermenu.html" %}
            {% endblock %}
        </div>
      </div>

        {% block breadcrumbs %}
      <!-- A.3 HEADER BREADCRUMBS -->

      <!-- Breadcrumbs -->
      <div class="header-breadcrumbs">
        {% breadcrumbs crumbs %}
      </div>
        {% endblock %}
    </div>

    <!-- For alternative headers END PASTE here -->

    <!-- B. MAIN -->
    <div class="main">
 
      <!-- B.1 MAIN NAVIGATION -->
      <div class="main-navigation">

        <!-- Navigation Level 3 -->
        <div class="round-border-topright"></div>
        {% block leftmenu%}
            {% include "leftmenu.html" %}
        {% endblock %}
      </div>
 
      <!-- B.2 MAIN CONTENT -->
      <div class="main-content">
          {% if showInfoToUser %}
            <h1>{{ showInfoToUser }}</h1>
          {% endif %}
          
          {% block maincontent %} 
          {% endblock %}
     </div>                                    
                
      {% block rightmenu%}
    {% include "rightmenu.html" %}
      {% endblock %}
    </div>
      
    <!-- C. FOOTER AREA -->      

    <div class="footer">
    {% block footer %}
    <table width=100%>
    <tr>
    <td aling="center">
      <p>Copyright &copy; 2007-{% now "Y" %} <a href="http://www.galotecnia.com">Galotecnia</a> | {% trans "All Rights Reserved"%}.</p>
      <p class="credits">{%trans "Design by" %}
        <a href="http://www.1-2-3-4.info/" title={%trans "Designer Homepage"%}>Wolfgang</a>  | {%trans "Modified by"%} 
        <a href="http://www.galotecnia.com" title={%trans "Modifyer Homepage"%}>Galotecnia</a>|
        <a href="http://validator.w3.org/check?uri=referer" title={%trans "Validate XHTML code"%}>XHTML 1.0</a> | 
        <a href="http://jigsaw.w3.org/css-validator/" title={%trans "Validate CSS code"%}>CSS 2.0</a>
      </p>
     <p class="credits">Este proyecto utiliza la herramienta <a href="http://proyectos.galotecnia.com/trac/limbus">Limbus</a>, subvencionada por el <a href="http://ec.europa.eu/employment_social/esf/index_es.htm">FSE</a>.</p>
    </td><td><p align="right"><img src="{{MEDIA_URL}}/img/logo_fse_horizontal_color.png" /></p></td>
    </tr>
    </table>
    
    {% endblock %}
    </div>      
  </div> 
  
</body>
</html>
