{% extends "base.html" %}
{% load i18n %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout1_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout1_text.css" />
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block leftmenu%}
{% endblock %}

{% block maincontent %}
<div class="column1-unit">	
    {% if not showInfoToUser %}
        <h1>{% trans 'SingularMS start page' %}</h1>
    {% endif %}

    {% if credit %}
        <h2>{% trans 'Credit summary' %}</h2>
        <table>
        <tr>
            <th class="top">{% trans "Account" %}</th>
            <th class="top">{% trans "Available credit" %}</th>
            <th class="top">{% trans "Reserved credit" %}</th>
        </tr>
        {%for name,account in credit.items %}
            <tr>
                <td><a href="{% url statistics account.id %}">{{ name }}</a></td>
                <td>{{ account.get_real_credit }}</td>
                <td>{{ account.get_real_reserved }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

</div>
{% endblock %}

{% block rightmenu%}
{% endblock %}

