{% extends "base.html" %}
{% comment %}
#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################
{% endcomment %}

{% load i18n %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
{% endblock %}

{% block jscript %}
{% include "jquery_loader.html" %}
{% include "jquery_autocomplete_plugin.html" %}
{%endblock%}
{% block jquerycode %}
<script>
</script>
{%endblock%}


{% block breadcrumbs %}
<!-- A.3 HEADER BREADCRUMBS -->

<!-- Breadcrumbs -->
<div class="header-breadcrumbs">
    <ul>
        <li><a href={% url root %}>{% trans 'Home' %}</a></li> 
        <li><a href={% url showIncomingMessages %}>{% trans 'Incoming msg' %}</a></li>
    </ul>
</div>
{% endblock %}
{% block maincontent %} 
    <h1 class="pagetitle">{% trans "External Command" %}</h1>
        <div class="column-unit">
        <p><h1> {% trans "Formulario" %} </h1></p>
        </div>
        {% block main%}
        <div class="column-unit">
        <p>Step {{ step }} of {{ step_count }}</p>
        <form action="." method="post"> {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
                {{ previous_fields|safe }}
            <p></p>
            <input class="button" type="submit" value="{% trans "Next Step" %}" />
        </form>
        </div>
        {% endblock %}
    {% endblock %}
