{% extends "base.html" %}
{% load i18n display_form %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
{% endblock %}


{% block maincontent %} 
    <h1 class="block">{% trans 'Delete contact' %}</h1>
    <div class="column1-unit">
        <div class="contactform">
            <form action="." method="POST">
                <fieldset>
                    <legend>{% trans "Are you sure you want to remove this contact?" %}<legend>
                    <p><label>{% trans "Name" %}</label><b>{{ object }}</b></p>
                    {% if object.tlf_movil %}<p><label>{% trans "Mobile" %}</label><b>{{ object.tlf_movil }}</b></p>{% endif %}
                    {% if object.email %}<p><label>{% trans "Email" %}</label><b>{{ object.email }}</b></p>{% endif %}
                    {% if object.direccion %}<p><label>{% trans "Address" %}</label><b>{{ object.direccion.0 }}</b></p>{% endif %}
                    <input type="submit" class="button" value="{% trans 'Delete contact' %}" />
                </fieldset>
            </form>
        </div> 
    </div>
{% endblock %} 

