{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load pagination_tags %}
{% load i18n %}
<!-- Base template for showing an item:

    Group is a list which contains in every index:
        - Global name of the item
        - Name of the fields
        - Data contained on a list
                                                -->
<!--    Title   -->
<h1 class="column1-unit">
	<a href="{% url showItem name=group.3 %}">{{ group.0|capfirst }}:</a>
	</h1>
{% if group.1 %}    
    <table>
        <!-- Indexes    -->
        <tbody>                 
            <tr>
                {% for index_value in group.1 %}
                    <!-- Special case -->
                    <th class="top" scope="col">{{ index_value|capfirst }}</th>
                {% endfor %}
            </tr>                   
        </tbody>            
        <!--    Items   -->
        {% if object_list %}
            <!-- Using pagination   -->        
            {% for item_group in object_list %}                 
                <tr>
                    {% for item_unit in item_group %}
                        {% if not forloop.first %}
                            <td>
                                {% if showLinks %}
                                    <a href="{% url editItem name=name id=item_group.0 %}" title="{% trans 'Edit this entry' %}">
                                    {% ifequal forloop.counter 4 %}{% for i in caducate %}{% ifequal i item_group.0 %}<font color="red">
                                    {% endifequal %}{% endfor %}{% endifequal %}
                                    {% ifequal forloop.counter 6 %}{% for i in no_available %}{% ifequal i item_group.0 %}<font color="red">
                                    {% endifequal %}{% endfor %}{% endifequal %}
                                    
                                        {{ item_unit }}
                                    {% ifequal forloop.counter 4 %}{% for i in caducate %}{% ifequal i item_group.0 %}</font>
                                    {% endifequal %}{% endfor %}{% endifequal %}
                                    {% ifequal forloop.counter 6 %}{% for i in no_available %}{% ifequal i item_group.0 %}</font>
                                    {% endifequal %}{% endfor %}{% endifequal %}</a>
                               {% else %}
                                    {{ item_unit }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            {% for item_group in group.2 %}                 
                <tr>
                    {% for item_unit in item_group %}
                        {% if not forloop.first %}
                            <td>
                                {% if showLinks %}
                                    <a href="{% url editItem name=name id=item_group.0 %}" title="{% trans 'Edit this entry' %}">{{ item_unit }}
                                {% else %}
                                    {{ item_unit }}
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endif %}
