{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load pagination_tags %}
{% load i18n display_form %}

{% block jscript %}
    {% include "jqueryui_loader.html" %}
    <script src="{{MEDIA_URL}}/jquery/ui/timepicker_plug/timepicker.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}/jquery/ui/i18n/ui.datepicker-es.js" type="text/javascript"></script>
{% endblock %}

{% block jquerycode %}
<script type="text/javascript">
    // Despliega el menu de comentarios.    
    $(document).ready(function(){		
        $("a#[name='delObjLink']").click(function(){
            $("div#[name='delObjDiv']").toggle("slow");
            return false;           
        })
    })
</script>
{% include "jquery/datepicker.html" %}
{% include "jquery/body_charcounter.html" %}
{% endblock %}

{% block layout %}
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
    <link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/timepicker_plug/css/style.css" />
    <link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/smoothness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="header-breadcrumbs">
    <ul>
        <li>
            <a href="{% url root %}">{% trans 'Home' %}</a>            
        </li>
        <li>
            <a href="{% url showItem name=name %}">{% filter capfirst %}{% trans name %}{% endfilter %}</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block maincontent %}
<h1 class="pagetitle">{% trans 'Edit' %}
</h1>

<p>
    <a href="#" name='delObjLink'>
        <u>
            {% trans "Delete the entry" %}:
        </u>
    </a>
</p>

<div name="delObjDiv" style="display:none">       
	<p>
		{% trans "Are you sure?" %}
        <a href="#" name='delObjLink'>
            <u>
                {% trans "No" %}, 
            </u>
        </a>
								
		<a href="{% url editItem name=name id=id delete="true" %}" name='delObjConfirm'>
            <u>
                {% trans "Yes" %}.
            </u>
        </a>		
    </p>            
</div>
	
<div class="contactform" name="newFormDiv">
	<form method="POST" action="" id="newForm">{% csrf_token %}
	    <fieldset>
	        <p>        	
				{% display_form form %}
				<input type="submit" name="form_action" id="id" class="button" value="{% trans 'Update' %}" />
	        </p>
	    </fieldset>
	</form>
</div>
{% endblock %}
