{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load pagination_tags %}
{% load i18n display_form %}

{% block jscript %}
    {% include "jqueryui_loader.html" %}
    <script src="{{MEDIA_URL}}/jquery/ui/timepicker_plug/timepicker.js" type="text/javascript"></script>
    <script src="{{MEDIA_URL}}/jquery/ui/i18n/ui.datepicker-es.js" type="text/javascript"></script>
{% endblock %}

{% block jquerycode %}
<script type="text/javascript">
    // Shows hidden links    
    $(document).ready(function(){		
        $("a#[name='newFormLink']").click(function(){						        
            $("div#[name='newFormDiv']").toggle("slow");
            return false;
        })
    })
</script>
{% include "jquery/datepicker.html" %}
{% include "jquery/body_charcounter.html" %}
{% endblock %}

{% block layout %}
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_setup.css" />
    <link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout2_text.css" />
    <link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/timepicker_plug/css/style.css" />
    <link rel="stylesheet" type="text/css"  href="{{MEDIA_URL }}/css/smoothness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block breadcrumbs %}
<div class="header-breadcrumbs">
    <ul>
        <li>
            <a href="{% url root %}">{% trans 'Home' %}</a>
        </li>       
        <li>
            <a href="{% url showItem name=group.3 %}">{% filter capfirst %}{{ group.0 }}{% endfilter %}</a>
        </li>
    </ul>
</div>
{% endblock %}
{% block maincontent %}	
<!--    Form wizard handler -->
{% if form_wizard %}    
    <p>
        <a href="#" name='newFormLink'>
            <u>
                {% trans "New" %} {{ group.0 }}...
            </u>
        </a>
    </p>
    {% if form_wizard.errors or not showLinks %}
    	<div class="contactform" name="newFormDiv">
    {% else %}
    	<div class="contactform" name="newFormDiv" style="display:none">
    {% endif %}
    <!-- <div class="contactform">        -->
        <form action="." method="post" id="newForm">{% csrf_token %}
            <p>{% trans 'Step' %} {{ step }} {% trans 'of' %} {{ step_count }}</p>
            <fieldset>                
                    {% display_form form %}                    
            </fieldset>
            <p>
                <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />{{ previous_fields|safe }}
                <input class="button" type="submit" value="{% trans "Next Step" %}"/>
            </p>            
        </form>                        
    </div>
{% else %}
    {% if form %}
        <p>
            <a href="#" name='newFormLink'>
                <u>
                    {% trans "New" %} {{ group.0 }}...
                </u>
            </a>
        </p>
    	{% if form.errors or not showLinks %}
    		<div class="contactform" name="newFormDiv">
    	{% else %}
    	    <div class="contactform" name="newFormDiv" style="display:none">
    	{% endif %}
            <form method="POST" action="" id="newForm">{% csrf_token %}
                <fieldset>                    
                    {% display_form form %}
                    {% comment %}{{ form.as_p }} {% endcomment %}                 
                        <input type="submit" name="form_action" id="id" class="button" value="{% trans 'create' %}" />	                
                </fieldset>
            </form>    
    	</div>
    {% endif %}
{% endif %}
<!-- 	Main view block		-->
	<!--	Summary quick show	-->	
	{% if object_list %}
        {% autopaginate object_list %}
        {% paginate %}
	   {% include "base_item_list.html" %}
	{% else %}
		<h1 class="block">{% trans "No items yet" %}.</h1>	
	{% endif %}
{% endblock %}
