{% extends "base.html" %}

{% comment %}

#######################################################################
#  SingularMS version 1.0                                             #
#######################################################################
#  This file is a part of SingularMS.                                 #
#                                                                     #
#  SingularMs is free software; you can copy, modify, and distribute  #
#  it under the terms of the GNU Affero General Public License        #
#  Version 1.0, 21 May 2007.                                          #
#                                                                     #
#  SingularMS is distributed in the hope that it will be useful, but  #
#  WITHOUT ANY WARRANTY; without even the implied warranty of         #
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.               #
#  See the GNU Affero General Public License for more details.        #
#                                                                     #
#  You should have received a copy of the GNU Affero General Public   #
#  License with this program; if not, contact Galotecnia              #
#  at contacto[AT]galotecnia[DOT]org. If you have questions about the #
#  GNU Affero General Public License see "Frequently Asked Questions" #
#  at http://www.gnu.org/licenses/gpl-faq.html                        #
#######################################################################

{% endcomment %}

{% load i18n %}

{% block layout %}
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout1_setup.css" />
<link rel="stylesheet" type="text/css" media="screen,projection,print" href="{{ MEDIA_URL }}/css/layout1_text.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/timepicker_plug/css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/smoothness/jquery-ui-1.7.2.custom.css" />
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block leftmenu%}
{% endblock %}

{% block maincontent %}
    <script type="text/javascript" src="{{ MEDIA_URL }}/jquery/jquery-1.3.2.min.js"></script>
    <!--[if IE]><script type="text/javascript" src="{{ MEDIA_URL }}js/flot/excanvas.min.js"></script><![endif]-->
    <script type="text/javascript" src="{{ MEDIA_URL }}/jquery/flot/jquery.flot.js"></script>

    <div class="column1-unit">	
        {% if not showInfoToUser %}
            <h1>{% trans 'SingularMS statistics page' %}</h1>
        {% endif %}
        <h2>{% trans 'Statistics summary' %}</h2>
        <div class="contactform">
            <form action="." method="POST">
                <fieldset>
                    <legend>{% trans "Choose initial and end dates" %}
                    {{ form.as_p }}
                    <input type="submit" class="button" value="{% trans 'Send' %}" />
                </fieldset>
            </form>
        </div>
        <br>
        {% if datos %}
            <p><h4>{% trans "Account" %} {{ datos.name }}</h4></p>
            <div id="placeholder" style="width:600px;height:300px"></div>
            <p id="choices"></p>
            <script type="text/javascript">
                $(document).ready(function(){
                    var options = { xaxis:  {
                                                mode: "time",
                                                timeformat: "%d/%m",
                                                label: "Fecha"
                                            },
                                    series: {
                                                lines: { show: true, steps: true },
                                            },
                                    legend: {
                                                show: false
                                            }
                                  };
                    var datasets = {
                        "Total" : { label: "Total ({{ datos.totales }})", data: {{ datos.tot }} },
                        "Sents" : { label: "Sents ({{ datos.enviados }})", data: {{ datos.env }} },
                        "Fails" : { label: "Fails ({{ datos.fallidos }})", data: {{ datos.fal }} },
                        "Individuals" : { label: "Individuals ({{ datos.individuales }})", data: {{ datos.ind }} },
                        "Channel" : { label: "Channel ({{ datos.canal }})", data: {{ datos.can }} }
                    }

                    var i = 0;
                    $.each(datasets, function(key, val) {
                        val.color = i;
                        ++i;
                    });
                    var colors = {"Total": "#EEC241", "Sents": "#ACDAFF", "Fails": "#CD696A", 
                                  "Individuals": "#5AAA5A", "Channel": "#AC75E6" }
                    // insert checkboxes
                    var choiceContainer = $("#choices");
                    $.each(datasets, function(key, val) {
                        choiceContainer.append('<input type="checkbox" name="' + key +
                                               '" checked="checked" id="id' + key + '"> ' +
                                               '<label for="id' + key + '"><b><font color=' + 
                                                colors[key] + '>' + val.label + '</font></b></label> ');
                    });
                    choiceContainer.find("input").click(plotAccordingToChoices);

                    function plotAccordingToChoices() {
                        var data = [];
                        choiceContainer.find("input:checked").each(function () {
                            var key = $(this).attr("name");
                            if (key && datasets[key])
                                data.push(datasets[key]);
                        });
                        if (data.length > 0)
                            $.plot($("#placeholder"), data, options);
                    }
                    plotAccordingToChoices();

                });
            </script>
        {% endif %}
    </div>
{% endblock %}

{% block rightmenu%}
{% endblock %}

